<div ng-controller="Diplo.LinkCheckerController" id="detail-dialogue">

    <div>

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3><i class="icon-link"></i> Link Checker <small>v1.0</small></h3> 
            </div>

            <div class="alert alert-error" ng-show="errorMessage.length > 0">
                <p>{{ errorMessage }}</p>
            </div>

            <div class="row">

                <div class="span2">
                    <button ng-click="startCheck()" class="btn btn-success">{{ buttonText }}</button>
                </div>

                <div class="span2">
                    <label title="Tick to only show pages and links that have errors"><input id="onlyErrors" type="checkbox" ng-model="onlyErrors" /> Only show errors</label>
                </div>

                <div class="span3">
                    <label title="Tick to hide links that have been checked within the last minute"><input type="checkbox" ng-model="hideCheckedPreviously" /> Hide links checked previously</label>
                </div>

                <div class="span5">
                    <div class="row">
                        <div class="span4">
                            Checked: <span class="badge">{{ linksCheckedCnt }}</span>
                        </div>
                        <div class="span4">
                            OK: <span class="badge badge-success">{{ linksOkCnt }}</span>
                        </div>
                        <div class="span4">
                            Errors: <span class="badge badge-important">{{ linksErrorCnt }}</span>
                        </div>
                    </div>
                </div>

            </div>

 
            <br />
            <div class="progress progress-striped" title="{{ progress }} %">
                <div class="bar" ng-style="{ width: progress + '%' }"></div>
            </div>

             <p ng-show="showStartMessage"><strong>Select the page to start the link check from <i class="icon-arrow-right"></i></strong></p>

             <p ng-show="startNodeName">Checked <span>{{ pageCnt }}</span> pages starting from <strong>{{ startNodeName }}</strong>. <span ng-bind-html="finishMessage"></span></p>

        </div>


        <div ng-repeat="page in checkedPages" ng-show="(page.ErrorCount > 0 && onlyErrors) || !onlyErrors">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="row">
                        <div class="span5">Page</div>
                        <div class="span3">Updated</div>
                        <div class="span2">Status <i ng-show="page.ErrorCount > 0" class="icon-alert warning"></i></div>
                        <div class="span2">Action</div>
                    </div>
                </div>

                <div class="panel-body">
                    
                    <div class="row">
                        <div class="span5"><strong>{{ page.Name }}</strong></div>
                        <div class="span3">{{ page.UpdateDate | date }} by {{ page.UpdateUser }}</div>
                        <div class="span2"><span class="badge">{{ page.LinksCount }}</span> <span class="badge badge-success">{{ page.SuccessCount }}</span> <span class="badge badge-important">{{ page.ErrorCount }}</span></div>
                        <div class="span2">
                            <ul class="unstyled inline divider icons">
                                <li><a ng-href="{{page.Url}}" target="_blank" title="View"><i class="icon-out"></i></a></li>
                                <li><a ng-href="#/content/content/edit/{{ page.Id }}" target="_blank" title="Edit"><i class="icon-edit"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="accordion" id="accordion-{{$index}}" ng-show="page.CheckedLinks.length > 0">
                        <div class="accordion-group">
                            
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{$index}}" href="#collapse{{$index}}">View Results</a>
                            </div>
                            
                            <div id="collapse{{$index}}" class="accordion-body collapse out">
                                <div class="accordion-inner">
                                    <div class="row">
                                        <div class="span12">
                                            
                                            <table class="table table-condensed table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>URL</th>
                                                        <th>Type</th>
                                                        <th>Status</th>
                                                        <th>OK?</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="link in page.CheckedLinks" ng-show="((onlyErrors && !link.IsSuccessCode) || !onlyErrors) && ((hideCheckedPreviously && !link.CheckedPreviously) || !hideCheckedPreviously)">
                                                        <td><a href ng-click="openDetail(link, page)">{{ link.Url | limitTo: 100 }}</a></td>
                                                        <td>{{ link.Type }}</td>
                                                        <td>{{link.StatusCode }} {{ link.Status }}</td>
                                                        <td><span ng-class="{ 'label label-success' : link.IsSuccessCode, 'label label-error' : !link.IsSuccessCode }"><i ng-class="{ 'icon-check' : link.IsSuccessCode, 'icon-alert' : !link.IsSuccessCode }"></i></span></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
